<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/logotipo_diamondsystems"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logotipo_diamondsystems"
        android:supportsRtl="true"
        android:theme="@style/Theme.Prueba">
        <activity
            android:name=".ProductosView.productos_actualizarStock"
            android:exported="false" />
        <activity
            android:name=".HistorialVentas.historialventas_detalleventa"
            android:exported="false" />
        <activity
            android:name=".HistorialVentas.historial_ventasView"
            android:exported="false" />
        <activity
            android:name=".VentasViews.VentaView"
            android:exported="false" />
        <activity
            android:name=".CaptureAct"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".ProductosView.FormularioProductos"
            android:exported="false" />
        <activity
            android:name=".ProductosView.ProductosView"
            android:exported="false" />
        <activity
            android:name=".Precio_Publico"
            android:exported="false" />
        <activity
            android:name=".DeudaActivity"
            android:exported="false" />
        <activity
            android:name=".ClientesPrincipal"
            android:exported="false" />
        <activity
            android:name=".MenuPrincipal"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AddClient"
            android:exported="false" />
        <activity
            android:name=".splasActivity"
            android:exported="false" />
    </application>

</manifest>