<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="false"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="false"
        android:icon="@drawable/logotipo_diamondsystems"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logotipo_diamondsystems"
        android:supportsRtl="true"
        android:theme="@style/Theme.Prueba">
        <activity
            android:name=".ui.config.ConfigNegocioView"
            android:exported="false" />
        <activity
            android:name=".ui.config.ConfigView"
            android:exported="false" />
        <activity
            android:name=".ui.ventas.VentasCerrarCorte"
            android:exported="false" />
        <activity
            android:name=".ui.proveedores.ProveedorFormularioView"
            android:exported="false" />
        <activity
            android:name=".ui.proveedores.ProveedorView"
            android:exported="false" />
        <activity
            android:name=".ui.clientes.ClientesFormulario"
            android:exported="false" />
        <activity
            android:name=".ui.clientes.ClientesPrincipalView"
            android:exported="false" />
        <activity
            android:name=".ui.productos.ProductosActualizarStock"
            android:exported="false" />
        <activity
            android:name=".ui.historialventas.HistorialVentasDetalleVenta"
            android:exported="false" />
        <activity
            android:name=".ui.historialventas.HistorialVentasView"
            android:exported="false" />
        <activity
            android:name=".ui.ventas.VentaView"
            android:exported="false" />
        <activity
            android:name=".utils.CaptureAct"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".ui.productos.FormularioProductos"
            android:exported="false" />
        <activity
            android:name=".ui.productos.ProductosView"
            android:exported="false" />
        <activity
            android:name=".ui.home.Precio_Publico"
            android:exported="false" />
        <activity
            android:name=".ui.deudas.DeudaActivity"
            android:exported="false" />
        <activity
            android:name=".ui.home.MenuPrincipal"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.home.SplasActivity"
            android:exported="false" />
    </application>

</manifest>